@font-face {
    font-family: Rubik;
    src: url("Rubik-Light.woff");
    font-weight: normal;
}

body {
    margin: 0;
    font-family: Rubik, sans-serif;
}

header, header ul {
    display: flex;
    justify-content: space-around;
}

header {
    background-color: #1F2937;
}

header h3, header ul {
    flex: 1;
}

header h3 {
    font-size: 24px;
    color: #F9FAF8;
    text-align: center;
}

header ul {
    padding: 0;
    color: #E5E7EB;
    list-style: none;
}

header ul li {
    display: flex;
    align-items: center;
}

.hero {
    padding: 40px 80px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.hero .left {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.hero h2 {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    align-self: flex-start;
}

.random-information {
    padding: 75px 0;
}

.random-information h3 {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card .image, .card p {
    width: 175px;
}

.cards .card .image {
    height: 175px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.card p {
    color: #1F2937;
}

.quote {
    padding: 100px 150px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.quote q {
    font-size: 36px;
}

.quote .citation {
    font-size: 30px;
    font-weight: bold;
    align-self: flex-end;
}